@import url("./common.css");
/* ====Small devices===== */
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  /* Nav part */
  .responsive-Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .responsive-Nav h3 {
    font-size: 1.25rem;
  }
  .hide {
    display: none;
  }
  .hideNav {
    display: contents;
  }
  /* Banner Part */
  .bannerWrapper,
  .featureWrapper {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .bannerTitle {
    width: 100%;
    text-align: center;
  }
  .btn-modify {
    margin: 0 auto;
  }
  /* Client part */
  #clientPart {
    padding: 3.25rem 0;
  }
  .clientLogo {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 100%;
  }
  /* Popular part */
  #popular,
  #featurePart {
    padding-bottom: 50px;
  }
  .popularItems {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .itemsDetails {
    width: 100%;
  }
  .seeMore {
    width: 100%;
  }
  /* Feature part */
  #featurePart {
    padding-top: 0;
  }
  .featureWrapper img {
    width: 100%;
  }
  .featureRight {
    width: 100%;
    text-align: center;
  }
  .featureRight h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .featureRight p {
    width: 100%;
    padding: 0 20px;
  }
}

/* =====Extra small devices===== */
@media (max-width: 576px) {
  /* Banner Part */
  .bannerImage img {
    max-width: 100%;
  }
  .bannerTitle h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  /* Clinet part css */
  .clientLogo {
  }
}
