@import url("./common.css");
/* =====Navbar CSS===== */
nav {
  padding: 87px 0 72px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  color: var(--primary_color);
  font-weight: var(--font_weight_bold);
  font-size: 1.5rem;
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
ul li a {
  color: var(--primary_color);
  font-size: 1rem;
  font-weight: var(--font_weight_semibold);
}
.menuIcons i {
  cursor: pointer;
}
.hideNav {
  display: none;
}
/*======Banner part CSS======  */
.bannerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerTitle {
  width: 582px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.bannerTitle h1 {
  line-height: 4rem;
  color: var(--primary_color);
  font-weight: var(--font_weight_bold);
  font-size: 3.25rem;
}
.bannerTitle {
  color: var(--primary_color);
  font-weight: var(--font_weight_semibold);
}
.bannerImage img {
  max-width: 440px;
  padding: 20px 30px;
}
.mainCamera {
  position: absolute;
  transform: translate(-100%, 0%);
}
.btn-modify {
  width: 196px;
  border-radius: 41px;
}
/* ====== CLient part css====== */
#clientPart {
  padding: 6.25rem 0;
}
.clientLogo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}
.clientLogo img {
  cursor: pointer;
}
/* ====== Popular CSS====== */
#popular {
  padding-bottom: 6.25rem;
}
.popularTitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.75rem;
  color: var(--primary_color);
  font-weight: 400;
}
.popularTitle span {
  font-weight: var(--font_weight_semibold);
}
.popularItems {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 auto;
}
.itemsDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 17px 15px;
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.158);
  cursor: pointer;
}
.itemsDetails h3 {
  font-size: 1.75rem;
  font-weight: var(--font_weight_medium);
  color: #18191f;
}
.itemsDetails h4 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 400;
}
.ratings {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.stars {
  color: #fb8200;
}
.ratings p {
  font-size: 14px;
  font-weight: var(--font_weight_bold);
  color: #5e6366;
}
.itemsDetailsPara {
  letter-spacing: 1.8%;
  line-height: 143%;
  width: 196px;
  color: #787885;
  font-weight: var(--font_weight_bold);
  font-size: 1rem;
  font-family: var(--font-inter);
}
.seeMore {
  width: 1200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  font-weight: var(--font_weight_bold);
  color: var(--button-color);
  cursor: pointer;
}
/* ======Featue part css====== */
#featurePart {
  padding-bottom: 6.25rem;
}
.featureWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featureRight {
  width: 710px;
}
.featureRight h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #0a0826;
  font-weight: var(--font_weight_bold);
  line-height: 60px;
}
.featureRight p {
  color: #6c6c6c;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: var(--font_weight_bold);
  width: 501px;
}
/* ======Footer part CSS====== */
footer {
  background-color: #0a0826;
}
.fotterItems {
  padding: 50px 0;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.fotterItems h3 {
  color: #ffffff;
  margin-bottom: 3px;
  font-weight: var(--font_weight_bold);
  font-size: 24px;
}
.fotterItems p {
  color: #d9dbe1;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: var(--font-manrope);
  font-weight: var(--font_weight_bold);
}
.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 17px;
  font-size: 1.5rem;
  color: #ffffff;
}
.socialIcons i {
  /* background-color: #5e6366;
  padding: 6px 9px 6px 4px;
  border-radius: 50%; */
  font-size: 1.25rem;
  color: #ffffff;
  cursor: pointer;
}
